html {
    height: 100%;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.navbar{
    box-shadow: 0px 5px 10px #343a4023;
}

#logo {
    color: white;
}

#logo:hover {
    color: white;
    text-decoration: none;
}

.navbar .menu {
    float: right;
}

.navbar .btn {
    font-size: 16px;
    color: white;
}

.navbar .btn:hover {
    color: rgb(218, 218, 218);
    transition: all .1s;
}

#about{
    display: none;
    padding-top: 15px;
    background: linear-gradient(to bottom, #343a40, #95afc0);
}

#about p,li {
    font-weight: 400 !important;
    font-size: 16px !important;
}

.jumbotron {
    transition: all .3s ease-out;
    background: #95afc0;
    margin-bottom: 20px;
}

.jumbotron.fail {
    transition: all .3s ease-out;
    background: #eb4d4b;
}

.jumbotron.success {
    transition: all .3s ease-out;
    background: #6ab04c;
}

.jumbotron p {
    opacity: 1;
    transition: all .5s;
}

.jumbotron p.hide {
    opacity: 0;
}

.jumbotron .btn {
    background-color: whitesmoke;
    font-weight: 700;
    box-shadow: 2px 2px 4px #343a4017 !important;
    border: 0px solid #343a40;
    color: #343a40e3; 
}

.jumbotron .btn:hover {
    background-color: #343a40e3;
    color: white;
    transition: all .2s;
}

.display-4 {
    text-shadow: 2px 2px 5px #343a4015;
    font-size: 70px;
    color: white;
    font-weight: 700;
}

.lead {
    text-shadow: 2px 2px 5px #343a400e;
    color: white;
}

#question {
    font-weight: 700;
    color: #343a40e3;
    font-size: 20px;
    text-align: center;
}

pre {
    margin-top: 0;
    width: fit-content;
    margin: auto !important;
    margin-bottom: 20px !important;
}

code {
    border-radius: 5px;
    letter-spacing: 1px;
    padding-right: 50px !important;
}

#answers .btn {
    background-color: white;
    font-weight: 700;
    box-shadow: 2px 2px 4px #343a4017 !important;
    border: 0px solid #343a40;
    color: #343a40e3;
    margin: .5%;
}

#answers .btn:hover {
    background-color: #343a40e3;
    color: white;
    margin: .5%;
    transition: all .2s;
}

#answers .btn.bingo {
    background-color: #6ab04c !important;
    color: white;
}

#answers .btn.non-bingo {
    background: #eb4d4b;
    color: white;
}

footer .container {
    margin-top: 50px
}

span.text-span {
    color: white;
    background: #343a40de;
    border-radius: 4px;
    white-space: pre;
}

footer {
    text-align: center;
    margin-top: auto;
    transition: all 1;
}

footer p {
    font-size: small;
    opacity: .7;
    font-weight: 300;
}

footer i {
    opacity: .7;
    padding: 5px;
    font-size: x-large;
    color: #343a40;
}

footer i:hover {
    transition: opacity .2s;
    opacity: 1;
}




